<footer>
    <p>&copy; 2025 Fresh Insights. All rights reserved.</p>
    <p>Follow us: 
        <a href="#" style="color: #508bfc;">Facebook</a> | 
        <a href="#" style="color: #508bfc;">Twitter</a> | 
        <a href="#" style="color: #508bfc;">LinkedIn</a>
    </p>
</footer>