<%- include('partials/navbar.ejs') %>

<section class="vh-100" style="background-color: #f4f5f7;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h3 class="mb-5">Change Password</h3>

            <!-- Form includes all inputs -->
            <form action="/changePassword?_method=PUT" method="POST">
              <div class="form-outline mb-4">
                <input name="password" type="password" id="password" class="form-control form-control-lg" />
                <label class="form-label" for="password">New Password</label>
              </div>

              <div class="form-outline mb-4">
                <input name="confirm_password" type="password" id="confirm_password" class="form-control form-control-lg" />
                <label class="form-label" for="confirm_password">Confirm Password</label>
              </div>

              <button class="btn btn-primary btn-lg btn-block" type="submit">Change Password</button>
            </form>

            <% if (locals.error) { %>
              <p style="text-align: center; color: red;"><%= error %></p>
            <% } else if (locals.success) { %>
              <p style="text-align: center; color: green;"><%= success %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
